In [1]:
print("Hello, World!")

Hello, World!

In [13]:
#python version
import sys

print(sys.version)

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]

In [14]:
#Python Indentation
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [1]:
x = int(input("Enter some number : "))

if x > 2:
    print("Your number is greater 2")
elif x < 2:
    print("Your number is less than 2")
else:
    print("Your number is exactly 2")

Your number is greater 2

In [15]:
#This is a comment
print("Hello, World!")

Hello, World!

In [16]:
#variables 
x = 5
y = "John"
print(x)
print(y)

5
John

In [17]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [18]:
x = str(3)    
y = int(3)    
z = float(3)

In [19]:
#data types
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [20]:
#Assign Multiple Values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
x = y = z = "Orange"
print(x)
print(y)
print(z)
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Orange
Banana
Cherry
Orange
Orange
Orange
apple
banana
cherry

In [21]:
#Output Variables
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [22]:
#Global Variables
x = "awesome"
def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [2]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
# getting the data type
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview	
x = None	NoneType	
x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

In [5]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [4]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [7]:
import random

print(random.randrange(1, 10))

8

In [8]:
#looping through a string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [13]:
#string length
a = "Hello, World!"
print(len(a))
#check phrase to string
txt = "The best things in life are free!"
print("free" in txt)

13
True

In [15]:
#slicing
b = "Hello, World!"
print(b[2:5])
d = "Hello, World!"
print(d[:5])

llo
Hello

In [17]:
#negative indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [16]:
#slice to end
b = "Hello, World!"
print(b[2:])

llo, World!

In [18]:
#upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [19]:
#lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [20]:
#remove whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [22]:
#replace string
a = "Hello, World!"
print(a.replace("H", "J"))
#split string
s = "Hello, World!"
print(s.split(",")) # returns ['Hello', ' World!']

Jello, World!
['Hello', ' World!']

In [23]:
#to combine string and int
age = 36
txt = f"My name is John, I am {age}"
print(txt)
#correct way to use double quotes
s = "We are the so-called \"Vikings\" from the north."

My name is John, I am 36