In [4]:
#boolean
print(5 > 3)
print(bool(0))
print(bool("abc"))

True
False
True

In [5]:
#boolean
x = 200
print(isinstance(x, int))

True

In [6]:
#Operators
x = 5
x += 3
print(x)

8

In [3]:
#list
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(len(thislist))
print(type(thislist))
list1 = ["abc", 34, True, 40, "male"]

['apple', 'banana', 'cherry']
3
<class 'list'>

In [4]:
#negative indexing
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [12]:
#range of indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
list1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list1[:4])
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list2[2:])
list3 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list3[-4:-1])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [13]:
#change itev value
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(0, "watermelon")
print(thislist)

['watermelon', 'apple', 'banana', 'cherry']

In [1]:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1])

banana

In [2]:
#append items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [5]:
#Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [7]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [10]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [11]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [13]:
#loop list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [14]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [15]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [16]:
#list comprehensive
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [7]:
#sort list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [8]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [9]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [10]:
#copy list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy() #or mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [11]:
#join list
list1=[1,2,3,4,5]
list2=["a","b","c"]
list3=list1+list2 #or list1.extend(list2
print(list3)

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [12]:
list1=[1,2,3]
list2=[4,5,6,7]
for x in list2:
    list1.append(x)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
    #list methods
    # append()	Adds an element at the end of the list
    # clear()	Removes all the elements from the list
    # copy()	Returns a copy of the list
    # count()	Returns the number of elements with the specified value
    # extend()	Add the elements of a list (or any iterable), to the end of the current list
    # index()	Returns the index of the first element with the specified value
    # insert()	Adds an element at the specified position
    # pop()	Removes the element at the specified position
    # remove()	Removes the item with the specified value
    # reverse()	Reverses the order of the list
    # sort()	Sorts the list

In [13]:
#Py tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry')
3

In [15]:
#Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])

banana
cherry

In [17]:
#range
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[2:])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')

In [ ]:
#update tuples
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

In [25]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

In [27]:
#Unpacking a Tuple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [28]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits
#Assign the rest of the values as a list called "red":
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [29]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [33]:
#loop tuples
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [34]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [35]:
#Join Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)
#tuple methods
# count()	Returns the number of times a specified value occurs in a tuple
# index()	Searches the tuple for a specified value and returns the position of where it was found

('a', 'b', 'c', 1, 2, 3)

In [39]:
#sets    Set items are unchangeable, but you can remove items and add new items.
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
for x in thisset:
  print(x)
print("banana" in thisset)

{'banana', 'cherry', 'apple'}
banana
cherry
apple
True

In [40]:
#add
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

In [41]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)   #in update may be any arrs 
print(thisset)

{'mango', 'apple', 'papaya', 'pineapple', 'banana', 'cherry'}

In [42]:
#Remove Set Items
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")  # or thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [43]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

In [44]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2) # or set3 = set1 | set2     or set1.update(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [45]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)  #or myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'Elena', 'b', 'apple', 'c', 'cherry', 'John', 'bananas', 'a'}

In [46]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)  # or set3 = set1 & set2
print(set3)

{'apple'}

In [47]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [48]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)   # or set3 = set1 - set2,   set1.difference_update(set2)
print(set3)

{'banana', 'cherry'}

In [49]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)  #or set3 = set1 ^ set2
print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

In [51]:
#Python Dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [ ]:
#Nested Dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
# clear()	Removes all the elements from the dictionary
# copy()	Returns a copy of the dictionary
# fromkeys()	Returns a dictionary with the specified keys and value
# get()	Returns the value of the specified key
# items()	Returns a list containing a tuple for each key value pair
# keys()	Returns a list containing the dictionary's keys
# pop()	Removes the element with the specified key
# popitem()	Removes the last inserted key-value pair
# setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
# update()	Updates the dictionary with the specified key-value pairs
# values()	Returns a list of all the values in the dictionary

In [53]:
#if else
x=int(input("Number"))
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [54]:
#While Loops
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [55]:
#For Loops  
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)